<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bán Sách</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	
	<link rel="stylesheet" href="D:/XAMPP/htdocs/thitructuyen/public/css/chitiet/lienhe.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<style>
		a:hover{
			text-decoration: none;
		}
		
	</style>
</head>
<body>
	<form name="frm1">
	<div class="container" id="main">
		<div class="row giohang" >
				<div class="col-md-4">
					<img src="D:/XAMPP/htdocs/thitructuyen/public/imgs/bg_login_1.png"  class="picture">
				</div>
				<div class="col-md-5 " >
					<h3 class="thongtinctde"><b ">KỲ THI THPT QUỐC GIA</b></h3>
					<p><b>Môn thi:</b> Toán</p>
					<p><b>Số câu:</b>  45 câu</p>
					<p><b>Thời gian thi:</b> 45 phút</p>
					<p><b>Khối:</b> 10</p>
					<p class="note"><b>Chú ý khi tham gia</b></p>
					<p><span class="glyphicon glyphicon-ok"></span> &nbsp;Hệ thống bắt đầu tính giờ làm bài thi</p>
					<p class="review">
						<span class="glyphicon glyphicon-ok"> </span> Phải chọn đáp án trả lời để tiếp tục bài thi
					</p>
					<p class="review">
						<span class="glyphicon glyphicon-ok"> </span> Hệ thống tự động kết thúc bài, tính điểm khi hết giờ làm bài
					</p>
					<p class="review">
						<span class="glyphicon glyphicon-ok"> </span> Xem lịch sử bài thi
					</p>
					<marquee behavior="alternate"  width="10%">>></marquee>
						<button type="button"  class="btn warning" id="giohang" >THAM GIA NGAY</button>
					<marquee behavior="alternate" width="10%"><< </marquee>
					
					<p>	
						<a href="" class="f"><b><i class="fas fa-eye"></i></b> &nbsp;View: 217</a>
						<a href="" class="g"><b><i class="fas fa-clipboard-check"></i></b> &nbsp;Taken: 1200</a>
						<a href="" class="L"><b>20</b> &nbsp;votes</a>
					</p>
									
				</div>


				
								<div class="col-md-3 chitiet" > 
								<p><b class="chuhotro">ĐỀ THI LIÊN QUAN</b></p>
								<p class="h4"></p>
									<div class="row row_chitiet" ><a href="aisekhackhibanliaxa.html">
										<div class="col-md-4"><img src="D:/XAMPP/htdocs/thitructuyen/public/imgs/bg_login_1.png" alt=""></div></a>
										<div class="col-md-8">
											<a href="">Kì Thi THPT Quốc Gia</a>
											<p class="canmonthi"><b>Môn thi:</b> Toán</p>
											<p><b>Thời gian:</b> 45 phút</p>
										</div>
									</div>
									<div class="row row_chitiet" ><a href="aisekhackhibanliaxa.html">
										<div class="col-md-4"><img src="D:/XAMPP/htdocs/thitructuyen/public/imgs/bg_login_1.png" alt=""></div></a>
										<div class="col-md-8">
											<a href="">Kì Thi THPT Quốc Gia</a>
											<p class="canmonthi"><b>Môn thi:</b> Toán</p>
											<p><b>Thời gian:</b> 45 phút</p>
										</div>
									</div>
									<div class="row row_chitiet" ><a href="aisekhackhibanliaxa.html">
										<div class="col-md-4"><img src="D:/XAMPP/htdocs/thitructuyen/public/imgs/bg_login_1.png" alt=""></div></a>
										<div class="col-md-8">
											<a href="">Kì Thi THPT Quốc Gia</a>
											<p class="canmonthi"><b>Môn thi:</b> Toán</p>
											<p><b>Thời gian:</b> 45 phút</p>
										</div>
									</div>
									<div class="row row_chitiet" ><a href="aisekhackhibanliaxa.html">
										<div class="col-md-4"><img src="D:/XAMPP/htdocs/thitructuyen/public/imgs/bg_login_1.png" alt=""></div></a>
										<div class="col-md-8">
											<a href="">Kì Thi THPT Quốc Gia</a>
											<p class="canmonthi"><b>Môn thi:</b> Toán</p>
											<p><b>Thời gian:</b> 45 phút</p>
										</div>
									</div>
									
					
						</div>
					</div>
	
		<!--đóng cột đầu tiên gồm ảnh, sản phẩm liên quan-->
		<div class="row thembinhluan" >
			<div class="col-md-12">
					<ul class="nav nav-tabs">
					    <li><a data-toggle="tab" href="#menu2">THẢO LUẬN</a></li>
					</ul>

					  <div class="tab-content">
						    <div id="home" class="tab-pane fade in active">
						     	 <div class="row">
							     	<div class="col-md-9">
							     		 <h4 class="chuthaoluan">Thảo Luận</h4>
							     	</div>
							     	<div class="col-md-3"><input type="button" value=" Thêm ý kiến" class="vietcmt" data-toggle="modal" data-target="#danhgia"></div>

						     	</div>
						    <div class="col-md-1"></div>
						    <div class="col-md-11">
						    	<div class="media" >
								  <div class="media-left media-top">
								    <img src="D:/XAMPP/htdocs/thitructuyen/public/imgs/bg_login_1.png"  class="media-object" width="60px" height="60px">
								  </div>
								  <div class="media-body">
								    <p class="media-heading">Manh Quỳnh</p>
								    <p style="font-size: 14px; color: #B3B2B2;">01/05/2018</p>
								    <p style="color: #F9CA0D;margin-top: 10px;margin-bottom: 0px">
								 	<span class="glyphicon glyphicon-star "></span> 
								 	<span class="glyphicon glyphicon-star"></span> 
								 	<span class="glyphicon glyphicon-star"></span> 
								 	<span class="glyphicon glyphicon-star"></span> 
								 	<span class="glyphicon glyphicon-star"></span>
								 	<span class="glyphicon glyphicon-user" style="color: #000"></span>
								 </p>
								    <p>Giao hàng nhanh, giấy đẹp,sách in rất chất lượng và chất lượng nữa. </p>
								  </div>
								</div>
						    </div>
						</div>
						    
						    

						    
					  </div>
					  
					  		<div class="modal fade" id="danhgia" role="dialog" style="margin-top: 150px">
   								 <div class="modal-dialog modal-sm">
     								 <div class="modal-content">
      									  <div class="modal-header" style="background-color: #189eff ;color: #fff">
         									 <button type="button" class="close" data-dismiss="modal">&times;</button>
         									 <h4 class="modal-title" style="padding-left: 50px">Đánh giá</h4>
         									 
      									  </div>
      									  <div class="modal-body" style="padding-left: 25px">
      									  		<p>
      									  			<span style="padding-left: 50px; color: #EDC022">
      									  				<span class="glyphicon glyphicon-user" style="color: #000"></span>&nbsp;
         									 		<span class="glyphicon glyphicon-star-empty "></span> 
								 					<span class="glyphicon glyphicon-star-empty"></span> 
								 					<span class="glyphicon glyphicon-star-empty"></span> 
								 					<span class="glyphicon glyphicon-star-empty"></span> 
								 					<span class="glyphicon glyphicon-star-empty"></span>
								 					
         									 </span>
      									  		</p>
        										<p><input type="text" placeholder="Nhập tên của bạn"></p>
									         	<p><input type="text" placeholder="nguyenthihoa@gmail.com"></p>
									         	<p><input type="text" placeholder="Tiêu đề"></p>
									         	<p><textarea name="" id="" cols="30" rows="10"  placeholder="Nhập nội dung"></textarea></p>
        								  </div>
        									<div class="modal-footer">
        										<button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-right: 120px">Gửi</button>
         								
        									</div>
      								</div>
   								 </div>
							</div>
		</div>
		</div>
		

	
	</div>
 <!--đóng container-->
</form>


		
</body>
</html>