<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thi Trực Tuyến</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="../../../public/css/fontawesome/css/all.css">
<link rel="stylesheet" href="../../../public/css/hocsinh.css">
<link rel="stylesheet" href="../../../public/css/anhchuyendong.css">
<!-- 2 follow links is to count number up -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

<link rel="stylesheet" href="D:/DocumentPublic npc.quynh/source code fontend/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="D:/DocumentPublic npc.quynh/source code fontend/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script>
(function(s, u, b, i, z){
  u[i]=u[i]||function(){
    u[i].t=+new Date();
    (u[i].q=u[i].q||[]).push(arguments);
  };
  z=s.createElement('script');
  var zz=s.getElementsByTagName('script')[0];
  z.async=1; z.src=b; z.id='subiz-script';
  zz.parentNode.insertBefore(z,zz);
})(document, window, 'https://widgetv4.subiz.com/static/js/app.js', 'subiz');
subiz('setAccount', 'acqdqbopxrdhtmizzgjf');
</script>


</head>
<body>
	
		<div class="menu-top">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1 doc">
					<p class="add"><i class="fas fa-map"></i> ADDRESS</p>
					<p class="diachi">Hưng Yên</p>
				</div>
				<div class="col-md-1 doc" >
					<p class="add"><i class="fas fa-envelope-open"></i> EMAIL</p>
					<p class="diachi a"  >npc.quynh@gmail.com </p>
				</div>
				<div class="col-md-1 doc">
					<p class="add"><i class="fas fa-phone"></i> CONTACT</p>
					<p class="diachi">0389666273</p>
				</div>
				<div class="col-md-6"></div>
				<div class="col-md-2">
					<div class="login"><i class="fas fa-user"></i> Login</div>
				</div>
			</div>
		</div>
		<div class="menu-ngang" >
			<div class="row"  data-spy="affix" data-offset-top="85">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<a href="file:///D:/XAMPP/htdocs/thitructuyen/resources/views/trangchu/trangchu.html">
						<img src="../../../public/imgs/cnhn.jpg" alt="">
					</a>
					
				</div>
				<div class="col-md-8 ngang"  >
					<ul>
						<li><a href="">TRANG CHỦ </a> </li>
						<li><a href="">GIỚI THIỆU </a></li>
						
						<li>
							 <div class="dropdown">
							   
							    	<a href="" class="dropdown-toggle" data-toggle="dropdown">KỲ THI </a>
							    <span class="caret"></span>
							    <ul class="dropdown-menu down_menu">
							      <li>
							      	<a href="" ><span>Ôn thi THPT Quốc Gia</span> <i class="fas fa-angle-right ic1"></i></a>
							      </li>
							      <li>
							      	<a href=""><span>Kiểm tra học kì </span><i class="fas fa-angle-right ic2"> </i></a>
							      </li>
							      <li>
							      	<a href=""><span>Kiểm tra 15 phút</span> <i class="fas fa-angle-right ic3"> </i></a>
							      </li>

							      <li>
							      	<a href=""><span>Kiểm tra 45 phút</span> <i class="fas fa-angle-right ic3"> </i></a>
							      </li>
							    </ul>
							  </div>
						</li>

						<li>
							 <div class="dropdown">
							   
							    	<a href="" class="dropdown-toggle" data-toggle="dropdown">TÀI LIỆU </a>
							    <span class="caret"></span>
							    <ul class="dropdown-menu down_menu">
							      <li>
							      	<a href="" ><span>Môn Toán</span> <i class="fas fa-angle-right ic4"></i></a>
							      </li>
							      <li>
							      	<a href=""><span>Môn Ngữ Văn </span><i class="fas fa-angle-right ic5"> </i></a>
							      </li>
							      <li>
							      	<a href=""><span>Môn Ngoại Ngữ</span> <i class="fas fa-angle-right ic6"> </i></a>
							      </li>

							      <li>
							      	<a href=""><span>Môn Sinh Học</span> <i class="fas fa-angle-right ic7"> </i></a>
							      </li>
							    </ul>
							  </div>
						</li>

						<li><a href="">LIÊN HỆ </a></li>
						<li><a href="">TIN TỨC </a></li>
						<!-- <li><input type="text" class="timkiem" placeholder="  Tìm kiếm"> <i class="fas fa-search"></i></li> -->
						<li>
							<div class="email-box">
								<i class="fas fa-search"></i>
								<input type="text" class="tbox" placeholder="  Nhập từ khóa tìm kiếm">
								<input type="submit" value="Tìm kiếm" class="btntk">
								
							</div>
						</li>
						
					</ul>
				</div>

				<div class="col-md-1 ngang">
					
				</div>
			</div>
			</div>

			
		<div class="container-fluid tintuc">
			<div class="container">
				<div class="row">
					<div class="col-md-12 tieudetintuc">
				
						<h3> GIỚI THIỆU</h3>
					</div>
				</div>

				<div class="main_gioithieu">
					
					<h4>	<b>Giới thiệu</b></h4>
 					<p>BookStore là website bán sách trực tuyến của Công ty Cổ phần Tư vấn, Giải pháp, Thương mại và Dịch vụ 9999.</p>
 					<p>Hiện nay chúng tôi đang có một chi nhánh bán sách nhỏ tại NHân Hòa, Phù Cừ Hưng Yên. Để tiếp cận,khuyến khích và lan rộng môi trường đọc sách tới tất cả các bạn đủ mọi lứa tuổi</p>
					<p  class="anh_gioithieu"><img src="../../../public/imgs/banner/2.jpg" alt=""></p> 
					<p>BookStore là mô hình đại siêu thị SÁCH TRỰC TUYẾN - "tất cả các nhà sách trực tuyến đều quy tụ tại đây".</p>
					<p>BookStore cung cấp nhiều đầu sách từ sách giấy đến sách điện tử (ebook) cho đến sách nói (audio book), … vượt trội cả về chủng loại và số lượng.</p>

					<h4>	<b>Tầm Nhìn</b></h4>
					<p>BookStore ra đời với hoài bão tạo nên một bước đột phá lớn trong lĩnh vực thương mại điện tử về sách ở Việt Nam. </p>
					<p>BookStore đặt mục tiêu trở thành hệ thống bán sách số một tại Việt Nam, và tiếp đến kết nối với các thị trường ngoài khu vực.</p>

					<h4>	<b>Sứ mệnh</b></h4>
					<p>&nbsp;&nbsp;&nbsp;Sứ mệnh của BookStore là mang thương mại điện tử đến với mọi đối tượng khách hàng, từ những tầng lớp bình dân nhất, ít quan tâm đến công nghệ nhất. Từ đó, - BookStore sẽ từng bước xây dựng văn hoá tiêu dùng tiện lợi và văn minh cho người Việt Nam.</p>
					<p>&nbsp;&nbsp;&nbsp; BookStore cũng tạo ra cơ hội cho các nhà kinh doanh bán lẻ và các Nhà xuất bản nội địa mở rộng thị trường, có được một môi trường phát triển lành mạnh, hiệu quả. Cũng trên hệ thống này, BookStore  mang đến cho người tiêu dùng những sản phẩm, dịch vụ chất lượng cao, thúc đẩy và sự phát triển của lĩnh vực thương mại điện tử và ngành bán lẻ tại Việt Nam. Đây là một phần quan trọng tạo ra động lực mạnh mẽ để phát triển nền kinh tế, từ đó góp phần vào sự thịnh vượng của đất nước.</p><br>
					<p  class="anh_gioithieu"><img src="../../../public/imgs/banner/2.jpg" alt=""></p>
					<h4>	<b>Giá Trị Cốt Lõi</b></h4>
					<p> &nbsp;&nbsp;&nbsp; BookStore xác định luôn trung thành với những giá trị cốt lõi của mình để luôn là sự lựa chọn số một của người tiêu dùng. Hệ thống giá trị bao gồm: <br>

					✔ Số lượng sản phẩm và dịch vụ lớn nhất: hàng triệu mặt hàng với chủng loại đa dạng, phong phú. <br>
					✔ Thanh toán an toàn, bảo mật, đáp ứng tiêu chuẩn Quốc tế.<br>
					✔ Tốc độ giao hàng vượt trội.<br>
					✔ Chăm sóc khách hàng 24/7. <br>
					✔ Nhiều kênh bán hàng sáng tạo, tiện lợi: Website thương mại điện tử, Cộng đồng trực tuyến.<br>
					✔ Nền tảng công nghệ hiện đại, giao dịch thuận tiện nhanh chóng.<br><br>

					<h4>	<b>Giới Thiệu Logo</b></h4>
						<img src="../../../public/imgs/cnhn.jpg" alt="" class="anhlogogt">
					Logo của  BookStore được thiết kế với màu xanh, tạo cảm giác nhẹ nhàng, yên tâm, đồng thời cũng thể hiện sự hạnh phúc. Đây cũng là sự kế thừa màu Xanh của Hòa Bình. <br>
					 &nbsp;&nbsp;&nbsp;BookStore mang đến cho khách hàng những hàng hoá có nguồn gốc xuất xứ rõ ràng, đảm bảo, với một tốc độ nhanh chóng. Người tiêu dùng có thể tin tưởng rằng: BookStore có tất cả những gì bạn cần, và phục vụ theo đúng tất cả những gì mà bạn mong đợi.</p><br>



					<h4>	<b>Liên Hệ</b></h4>

					<p style="margin-bottom: 40px;">Báo chí liên hệ: <b style="color: red">npc.quynhhehe@gmail.com</b></p>	

				</div>

			

				
			</div>
		</div>
		

			
			
		

	
	

	
	<div class="row counting-sec sodem">
			<div class="container canso">
				<div class=" col-md-3 coldb">
					<i class="fas fa-user-graduate"></i>
					<div class="num">678</div>
					<span>MEMBERS</span>
				</div>

				<div class="col-md-3 coldb">
					<i class="fas fa-question-circle"></i>
					<div class="num">1234</div>
					<span>QUESTIONS</span>
				</div>

				<div class=" col-md-3 coldb">
					<i class="fas fa-file-alt"></i>
					<div class="num">750</div>
					<span>EXAMS</span>
				</div>

				<div class="col-md-3 coldb">
					<i class="fas fa-users"></i>
					<div class="num">1345</div>
					<span>VISITORS</span>
				</div>
			</div>
		</div>
	<div class="footer">
		
		<div class="container phanchan">
			
			<div class="col-md-3">
				
				<div class="col-md-12 footer_lienhe">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<p><img src="../../../public/imgs/logo-light.png" alt="" ></p>
					<!-- <h2 class="lgo"><i class="fas fa-graduation-cap mucunhan"></i> <span>EXAMIN</span></h2> -->
					<p><span class="glyphicon glyphicon-map-marker"></span >	&nbsp;Địa chỉ: Phù Cừ, Hưng Yên</p>
		  			<p><span class="glyphicon glyphicon-earphone"></span>&nbsp;	Điện thoại: 0389 666 273</p>
					<p><span class="glyphicon glyphicon-phone-alt"></span> &nbsp;Hotline: (+84) 1648 46 6660</p>
					<p class="guimail"><span class="glyphicon glyphicon-envelope"></span> &nbsp;	Email: ngocnpc.quynh@gmail.com</p>

					<p >
						<div class="email-box">
								<i class="fas fa-paper-plane"></i>
								<input type="text" class="tbox1" placeholder="  Nhập email">
								<input type="submit" value="Email" class="btntk1">
								
						</div>
					</p>
				</div>
			</div>

			<div class="col-md-3 thongtin">
				<h4><b>VỀ CHÚNG TÔI</b></h4>
					<p><i class="fas fa-th-large"></i>  &nbsp;<a href="trangchu"><span>Trang chủ</span></a></p>
					<p><i class="fas fa-th-large"></i> &nbsp; <a href="gioithieu"><span>Kỳ thi</span></a></p>
					<p><i class="fas fa-th-large"></i> &nbsp; <a href="gioithieu"><span>Giới thiệu</span></a></p>
					<p><i class="fas fa-th-large"></i>&nbsp; <a href="lienhe" ><span>Liên hệ</span></a></p>
					<p> <i class="fas fa-th-large"></i>&nbsp; <a href="tintuc" ><span>Tin tức</span></a></p>
					<p><i class="fas fa-th-large"></i> &nbsp; <a href="tailieu"><span>Tài liệu</span></a></p>
			</div>

			<div class="col-md-3">
				
				<div class="col-md-12 chinhsach">
					<h4><b>LỢI ÍCH</b></h4>
					<p><i class="fas fa-th-large"></i>	&nbsp;Quản lý ngân hàng câu hỏi</p>
		  			<p><i class="fas fa-th-large"></i>&nbsp;Soạn đề thi tự động</p>
					<p><i class="fas fa-th-large"></i> &nbsp;Tương tác, giải đáp trực tiếp</p>
					<p><i class="fas fa-th-large"></i> &nbsp;Tiết kiệm thời gian, kinh phí</p>
					<p><i class="fas fa-th-large"></i> &nbsp;Tránh gian lận thi cử</p>
				</div>
			</div>

			<div class="col-md-3 bando">
				<h4><b>BẢN ĐỒ</b></h4>
					<div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14904.84356149955!2d106.06072414028512!3d20.944044437157935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a38164635b73%3A0xe8e22caf90128a76!2zTmjDom4gSMOyYSwgTeG7uSBIw6BvLCBIxrBuZyBZw6puLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1524675797573" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
			</div>
		</div>
		<div class="thelast">	
			<p class="cop"><i class="far fa-copyright"></i> Copyright 2019 Develop by Ngoc Thao  
				<span>
					<i class="fas fa-envelope "></i>
					<i class="fab fa-youtube-square"></i>
					<i class="fab fa-twitter-square"></i>
					<i class="fab fa-facebook-square"></i>
				</span>
			</p>
		</div>
	</div>
	<script type="text/javascript">
		
		$(".num").counterUp()({
                delay: 10,
                time: 1000
            });
    </script>
</body>
</html>