<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thi Trực Tuyến</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="../../../public/css/fontawesome/css/all.css">
<link rel="stylesheet" href="../../../public/css/hocsinh.css">
<link rel="stylesheet" href="../../../public/css/anhchuyendong.css">
<!-- 2 follow links is to count number up -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

<link rel="stylesheet" href="D:/DocumentPublic npc.quynh/source code fontend/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="D:/DocumentPublic npc.quynh/source code fontend/OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script>
(function(s, u, b, i, z){
  u[i]=u[i]||function(){
    u[i].t=+new Date();
    (u[i].q=u[i].q||[]).push(arguments);
  };
  z=s.createElement('script');
  var zz=s.getElementsByTagName('script')[0];
  z.async=1; z.src=b; z.id='subiz-script';
  zz.parentNode.insertBefore(z,zz);
})(document, window, 'https://widgetv4.subiz.com/static/js/app.js', 'subiz');
subiz('setAccount', 'acqdqbopxrdhtmizzgjf');
</script>


</head>
<body>
	
		<div class="menu-top">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-1 doc">
					<p class="add"><i class="fas fa-map"></i> ADDRESS</p>
					<p class="diachi">Hưng Yên</p>
				</div>
				<div class="col-md-1 doc" >
					<p class="add"><i class="fas fa-envelope-open"></i> EMAIL</p>
					<p class="diachi a"  >npc.quynh@gmail.com </p>
				</div>
				<div class="col-md-1 doc">
					<p class="add"><i class="fas fa-phone"></i> CONTACT</p>
					<p class="diachi">0389666273</p>
				</div>
				<div class="col-md-6"></div>
				<div class="col-md-2">
					<div class="login"><i class="fas fa-user"></i> Login</div>
				</div>
			</div>
		</div>
		<div class="menu-ngang" >
			<div class="row"  data-spy="affix" data-offset-top="85">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<a href="file:///D:/XAMPP/htdocs/thitructuyen/resources/views/trangchu/trangchu.html">
						<img src="../../../public/imgs/cnhn.jpg" alt="">
					</a>
					
				</div>
				<div class="col-md-8 ngang"  >
					<ul>
						<li><a href="">TRANG CHỦ </a> </li>
						<li><a href="">GIỚI THIỆU </a></li>
						
						<li>
							 <div class="dropdown">
							   
							    	<a href="" class="dropdown-toggle" data-toggle="dropdown">KỲ THI </a>
							    <span class="caret"></span>
							    <ul class="dropdown-menu down_menu">
							      <li>
							      	<a href="" ><span>Ôn thi THPT Quốc Gia</span> <i class="fas fa-angle-right ic1"></i></a>
							      </li>
							      <li>
							      	<a href=""><span>Kiểm tra học kì </span><i class="fas fa-angle-right ic2"> </i></a>
							      </li>
							      <li>
							      	<a href=""><span>Kiểm tra 15 phút</span> <i class="fas fa-angle-right ic3"> </i></a>
							      </li>

							      <li>
							      	<a href=""><span>Kiểm tra 45 phút</span> <i class="fas fa-angle-right ic3"> </i></a>
							      </li>
							    </ul>
							  </div>
						</li>

						<li>
							 <div class="dropdown">
							   
							    	<a href="" class="dropdown-toggle" data-toggle="dropdown">TÀI LIỆU </a>
							    <span class="caret"></span>
							    <ul class="dropdown-menu down_menu">
							      <li>
							      	<a href="" ><span>Môn Toán</span> <i class="fas fa-angle-right ic4"></i></a>
							      </li>
							      <li>
							      	<a href=""><span>Môn Ngữ Văn </span><i class="fas fa-angle-right ic5"> </i></a>
							      </li>
							      <li>
							      	<a href=""><span>Môn Ngoại Ngữ</span> <i class="fas fa-angle-right ic6"> </i></a>
							      </li>

							      <li>
							      	<a href=""><span>Môn Sinh Học</span> <i class="fas fa-angle-right ic7"> </i></a>
							      </li>
							    </ul>
							  </div>
						</li>

						<li><a href="">LIÊN HỆ </a></li>
						<li><a href="">TIN TỨC </a></li>
						<!-- <li><input type="text" class="timkiem" placeholder="  Tìm kiếm"> <i class="fas fa-search"></i></li> -->
						<li>
							<div class="email-box">
								<i class="fas fa-search"></i>
								<input type="text" class="tbox" placeholder="  Nhập từ khóa tìm kiếm">
								<input type="submit" value="Tìm kiếm" class="btntk">
								
							</div>
						</li>
						
					</ul>
				</div>

				<div class="col-md-1 ngang">
					
				</div>
			</div>
			</div>

			
		<div class="container-fluid tintuc">
			<div class="container">
				<div class="row">
					<div class="col-md-12 tieudetintuc">
				
						<h3 > TIN TỨC VÀ SỰ KIỆN</h3>
					</div>
				</div>

				<div class="row tintuc_first">
					<div class="col-md-2 col_ngaydang">
						<span class="ngaydang">December 14, 2019</span>
					</div>
					<div class="col-md-1">
						<img src="../../../public/imgs/lienket_tt.png" alt="" class="anh_lienket" >
					</div>
					<div class="col-md-4">
						<img src="../../../public/imgs/banner/tintuc4.jpg"  class="img_tintuc" alt="">
					</div>
					<div class="col-md-5 trichdoan">
						<h4>“Thiên nga đen: Xác suất cực nhỏ, tác động cực lớn” - Cuốn sách thay đổi cách</h4>
						<p>Chúng tôi thích làm việc theo ý thích của mình và được biết đến vì sự yêu thích gần như là ám ảnh với những thói quen. Nhưng chuyện gì cũng có lí do của nó. Thói quen giúp chúng tôi hoàn thành mục tiêu, giữ được động lực, hạn chế những khoảng thời gian chết và cũng...</p>

						<p class="time_cmt"><i class="far fa-eye"></i> 123 &nbsp;&nbsp; <i class="far fa-comment"></i> 123 &nbsp;&nbsp; <i class="far fa-file-alt"></i> 1234</p>
					</div>

				</div>

				<div class="row tintuc_first">
					<div class="col-md-2 col_ngaydang">
						<span class="ngaydang">December 14, 2019</span>
					</div>
					<div class="col-md-1">
						<img src="../../../public/imgs/lienket_tt.png" alt="" class="anh_lienket" >
					</div>
					<div class="col-md-4">
						<img src="../../../public/imgs/banner/tintuc6.jpg"  class="img_tintuc" alt="">
					</div>
					<div class="col-md-5 trichdoan">
						<h4>“Thiên nga đen: Xác suất cực nhỏ, tác động cực lớn” - Cuốn sách thay đổi cách</h4>
						<p>Chúng tôi thích làm việc theo ý thích của mình và được biết đến vì sự yêu thích gần như là ám ảnh với những thói quen. Nhưng chuyện gì cũng có lí do của nó. Thói quen giúp chúng tôi hoàn thành mục tiêu, giữ được động lực, hạn chế những khoảng thời gian chết và cũng...</p>

						<p class="time_cmt"><i class="far fa-eye"></i> 123 &nbsp;&nbsp; <i class="far fa-comment"></i> 123 &nbsp;&nbsp; <i class="far fa-file-alt"></i> 1234</p>
					</div>

				</div>

				<div class="phantrangtintuc">
					<a href="tintuc"><span><i class="fas fa-angle-double-left"></i></span></a>
					<a href="tintuc"><span>1</span></a>
					<a href="tintuc"><span><i class="fas fa-angle-double-right"></i></span></a>
				</div>
			</div>
		</div>
		

			
			
		

	
	

	
	<div class="row counting-sec sodem">
			<div class="container canso">
				<div class=" col-md-3 coldb">
					<i class="fas fa-user-graduate"></i>
					<div class="num">678</div>
					<span>MEMBERS</span>
				</div>

				<div class="col-md-3 coldb">
					<i class="fas fa-question-circle"></i>
					<div class="num">1234</div>
					<span>QUESTIONS</span>
				</div>

				<div class=" col-md-3 coldb">
					<i class="fas fa-file-alt"></i>
					<div class="num">750</div>
					<span>EXAMS</span>
				</div>

				<div class="col-md-3 coldb">
					<i class="fas fa-users"></i>
					<div class="num">1345</div>
					<span>VISITORS</span>
				</div>
			</div>
		</div>
	<div class="footer">
		
		<div class="container phanchan">
			
			<div class="col-md-3">
				
				<div class="col-md-12 footer_lienhe">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<p><img src="../../../public/imgs/logo-light.png" alt="" ></p>
					<!-- <h2 class="lgo"><i class="fas fa-graduation-cap mucunhan"></i> <span>EXAMIN</span></h2> -->
					<p><span class="glyphicon glyphicon-map-marker"></span >	&nbsp;Địa chỉ: Phù Cừ, Hưng Yên</p>
		  			<p><span class="glyphicon glyphicon-earphone"></span>&nbsp;	Điện thoại: 0389 666 273</p>
					<p><span class="glyphicon glyphicon-phone-alt"></span> &nbsp;Hotline: (+84) 1648 46 6660</p>
					<p class="guimail"><span class="glyphicon glyphicon-envelope"></span> &nbsp;	Email: ngocnpc.quynh@gmail.com</p>

					<p >
						<div class="email-box">
								<i class="fas fa-paper-plane"></i>
								<input type="text" class="tbox1" placeholder="  Nhập email">
								<input type="submit" value="Email" class="btntk1">
								
						</div>
					</p>
				</div>
			</div>

			<div class="col-md-3 thongtin">
				<h4><b>VỀ CHÚNG TÔI</b></h4>
					<p><i class="fas fa-th-large"></i>  &nbsp;<a href="trangchu"><span>Trang chủ</span></a></p>
					<p><i class="fas fa-th-large"></i> &nbsp; <a href="gioithieu"><span>Kỳ thi</span></a></p>
					<p><i class="fas fa-th-large"></i> &nbsp; <a href="gioithieu"><span>Giới thiệu</span></a></p>
					<p><i class="fas fa-th-large"></i>&nbsp; <a href="lienhe" ><span>Liên hệ</span></a></p>
					<p> <i class="fas fa-th-large"></i>&nbsp; <a href="tintuc" ><span>Tin tức</span></a></p>
					<p><i class="fas fa-th-large"></i> &nbsp; <a href="tailieu"><span>Tài liệu</span></a></p>
			</div>

			<div class="col-md-3">
				
				<div class="col-md-12 chinhsach">
					<h4><b>LỢI ÍCH</b></h4>
					<p><i class="fas fa-th-large"></i>	&nbsp;Quản lý ngân hàng câu hỏi</p>
		  			<p><i class="fas fa-th-large"></i>&nbsp;Soạn đề thi tự động</p>
					<p><i class="fas fa-th-large"></i> &nbsp;Tương tác, giải đáp trực tiếp</p>
					<p><i class="fas fa-th-large"></i> &nbsp;Tiết kiệm thời gian, kinh phí</p>
					<p><i class="fas fa-th-large"></i> &nbsp;Tránh gian lận thi cử</p>
				</div>
			</div>

			<div class="col-md-3 bando">
				<h4><b>BẢN ĐỒ</b></h4>
					<div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14904.84356149955!2d106.06072414028512!3d20.944044437157935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a38164635b73%3A0xe8e22caf90128a76!2zTmjDom4gSMOyYSwgTeG7uSBIw6BvLCBIxrBuZyBZw6puLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1524675797573" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
			</div>
		</div>
		<div class="thelast">	
			<p class="cop"><i class="far fa-copyright"></i> Copyright 2019 Develop by Ngoc Thao  
				<span>
					<i class="fas fa-envelope "></i>
					<i class="fab fa-youtube-square"></i>
					<i class="fab fa-twitter-square"></i>
					<i class="fab fa-facebook-square"></i>
				</span>
			</p>
		</div>
	</div>
	<script type="text/javascript">
		
		$(".num").counterUp()({
                delay: 10,
                time: 1000
            });
    </script>
</body>
</html>